<main class="main-content">
<%= react_component("Chat",
  props: {
    pagination: {
      totalItems: @pagy.count,
      currentPage: @pagy.page,
      lastPage: @pagy.last,
      recordsPerPage: @pagy.vars[:items]
    },
    chats: @chats,
    user: {
      id: current_user.id,
      username: current_user.username,
      profilePictureUrl: current_user.profile_picture_url,
      messagingDisabled: current_user.messaging_disabled,
      withTalent: current_user.talent.present?,
      supportersCount: current_user.talent&.supporters_count,
    }
  }, prerender: false, html_options: { class: "h-100" })
%>
</main>
