<h3 class="mb-6 main-title">Profile complete ✅</h3>
<p class="w-full lh-lg text-lg mb-6 primary-3 paragraph">
  Hi, <%= @user.name || "Talented human" %>! 👋
</p>
<p class="w-full lh-lg text-lg mb-6 primary-3 paragraph">
  Now that you have completed your profile, you are set to <strong>apply to launch a Talent Token</strong>, something that your believers can buy to show how much they support you and your professional dreams.
</p>
<p class="w-full lh-lg text-lg mb-10 primary-3 paragraph">
  Apply now and get 2,000 Talent Tokens as soon as you launch it 💫
</p>
<%= link_to "Apply now", user_url(username: @user.username, tab: "About"), class: "btn btn-primary fw-800 text-5xl py-4 mb-5 w-full", style: "width: 90%" %>
