<h3 class="main-title mb-6">
  gm <%= @user.name %>!
</h3>
<p class="mb-6 paragraph primary-3 w-full">
  We noticed that you're looking for work opportunities, and we'd love to help.
</p>
<p class="mb-6 paragraph primary-3 w-full">
  Join our Talent Protocol Telegram group to receive support to improve your web3 resume, and access a pool of exciting web3 opportunities: <a href="https://t.me/talentprotocol">https://t.me/talentprotocol</a>
</p>
<p class="paragraph primary-3 w-full">
  Let's do this!
  <br/>
  Talent Protocol team
</p>

