<h3 class="main-title mb-6">
  gm <%= @user.name %>!
</h3>
<p class="mb-6 paragraph primary-3 w-full">
  We noticed that you're looking for work opportunities. And we'd love to help :)
</p>
<p class="mb-6 paragraph primary-3 w-full">
  1. You can join our <a href="https://talentprotocol.pallet.com/talent/welcome">Talent Collective</a> to make sure our partner organizations notice you and receive support to improve your web3 resume.
</p>
<p class="mb-6 paragraph primary-3 w-full">
  2. You can also access a pool of exciting web3 opportunities at <a href="http://opportunities.talentprotocol.com">http://opportunities.talentprotocol.com</a>
</p>
<p class="paragraph primary-3 w-full">
  Let's do this!
  <br/>
  Talent Protocol team
</p>
