<h3 class="main-title mb-6">
  gm <%= @user.name %>!
</h3>
<p class="mb-6 paragraph primary-3 w-full">
  We noticed that you're no longer looking for work.
  <br/>
  Did you just land a new role?
  <br/>
  If that's the case, congrats!
</p>
<p class="mb-6 paragraph primary-3 w-full">
  At Talent Protocol we're building the web3 resume and want to make sure people like yourself have access to the best tools to navigate the world of work.
  Your feedback would be hugely appreciated.
</p>
<p class="mb-6 paragraph primary-3 w-full">
  Fill in <a href="https://talentprotocol.typeform.com/to/df0jSOqP">this form</a> if you don't mind sharing some feedback.
</p>
<p class="paragraph primary-3 w-full">
  Let's do this!
  <br/>
  Talent Protocol team
</p>
