<h3 class="main-title mb-6">
  gm <%= @user.name %>!
</h3>
<p class="mb-6 paragraph primary-3 w-full">
  Talent Protocol has a new way to help you find the right talent to hire.
</p>
<p class="mb-6 paragraph primary-3 w-full">
  Tap into our community by posting up to 2 opportunities for free, get started at <a href="https://talentprotocol.pallet.com/jobs">https://talentprotocol.pallet.com/jobs</a>.
</p>
<p class="mb-6 paragraph primary-3 w-full">
  If you're a team wanting to sponsor the Talent Protocol community in order to increase talent leads and brand awareness,
  please start at <a href="https://talentprotocol.pallet.com/talent/welcome">https://talentprotocol.pallet.com/talent/welcome</a> or reach out to <a href="mailto:sponsors@talentprotocol.com">sponsors@talentprotocol.com</a>.
</p>
<p class="paragraph primary-3 w-full">
  Let's do this!
  <br/>
  Talent Protocol team
</p>
