<h3 class="main-title mb-6">
  gm <%= @user.name %>!
</h3>
<p class="mb-6 paragraph primary-3 w-full">
  Talent Protocol has a new way to help you find the right talent to hire.
</p>
<p class="mb-6 paragraph primary-3 w-full">
  Tap into our community by posting up to 2 opportunities for free in our Telegram group: <a href="https://t.me/talentprotocol">https://t.me/talentprotocol</a>.
</p>
<p class="mb-6 paragraph primary-3 w-full">
  If you're a team interested in sponsoring the Talent Protocol community to increase talent leads and brand awareness, please reach out to <a href="mailto:sponsors@talentprotocol.com">sponsors@talentprotocol.com</a> for more information.
</p>
<p class="paragraph primary-3 w-full">
  Let's do this!
  <br/>
  Talent Protocol team
</p>
