<h3 class="mb-6 main-title">You're verified! ✅</h3>
<p class="w-full lh-lg text-lg mb-6 primary-3 paragraph">
  We are happy to inform you that your account has been upgraded and is now verified. You can now see a purple checkmark on your profile. ✅
</p>
<p class="w-full lh-lg text-lg mb-6 primary-3 paragraph">
  Our goal is to help you build meaningful connections and our hope is that verification helps you do that with confidence 💜
</p>
<p class="w-full lh-lg text-lg mb-6 primary-3 paragraph">
  Being a verified user means you can now claim your Talent Mate! Click <%= link_to "here", "https://mates.talentprotocol.com/" %> to customise yours.
</p>
<p class="w-full lh-lg text-lg mb-16 primary-3 paragraph">
  Talent Mates is a NFT collection of unique avatars, exclusive for Talent Protocol verified users, that also serves as a community membership pass. Check more information about the NFTs <%= link_to "here", "https://bit.ly/talentmates/" %>.
</p>

<%= link_to "Claim Talent Mate NFT", "https://mates.talentprotocol.com/", class: "btn btn-primary fw-800 text-5xl py-4 mb-5 w-full", style: "width: 90%" %>
