<main class="main-content">
  <div class="container-grid">
    <div class="secondary-content">
      <%= react_component("TalentPage",
        props: {
          isAdminOrModerator: current_user.admin? || current_user.moderator?
        },
        prerender: false) %>
    </div>
  </div>
</main>
