<main class="main-content">
  <div class="container-grid">
    <% if current_acting_user.nil? %>
      <%= react_component("LoggedOutTopBar", props:
        {
        }, prerender: false)
      %>
    <% end %>
    <div class="secondary-content">
      <%= react_component("DiscoveryShow",
        props: {
          isAdminOrModerator: current_user&.admin? || current_user&.moderator?,
          discoveryRow: {
            id: @discovery_row["id"],
            badge: @discovery_row["badge"],
            badgeLink: @discovery_row["badge_link"],
            description: @discovery_row["description"],
            talentsCount: @discovery_row["talents_count"],
            talentsTotalSupply: @discovery_row["talents_total_supply"].to_s,
            slug: @discovery_row["slug"],
            tags: @discovery_row["visible_tags"].map { |tag| tag["description"] }.join(", "),
            title: @discovery_row["title"],
            partnership: @discovery_row["partnership"]
          }
        },
        prerender: false) %>
    </div>
  </div>
</main>
