<main class="main-content">
  <div class="container-grid">
    <div class="secondary-content">
      <%= react_component("Rewards",
        props: {
          user: {
            isEligible: current_acting_user.beginner_quest_completed?,
            username: current_acting_user.username,
            id: current_acting_user.id,
            talent_id: current_acting_user.talent.id
          },
          allRaces: @races,
          invites: @invites,
          leaderboardResults: @race_leaderboard_results,
          racesCount: @races_count,
          race: @current_race,
          userRewards: @user_rewards,
          raceRewards: @race_rewards,
          invitedUsers: @invited_users,
          raceInvitesCount: @race_invites_count,
          quests: @quests,
          pagination: {
            currentPage: @pagy.page,
            lastPage: @pagy.last
          },
        },
        prerender: false) %>
    </div>
  </div>
</main>
