<main class="main-content">
  <div class="container-grid">
    <%= react_component("UserSettings", props:
      {
        notificationPreferences: User::Delivery::TYPES.map do |type|
          [type, @talent.user.notification_preferences[type].presence || User::Delivery::IMMEDIATE]
        end.to_h
      }, prerender: false)
    %>
  </div>
</main>
