<main class="h-100">
  <%= react_component("RegistrationFlow",
    props: {
      step: 1,
      captchaKey: ENV["RECAPTCHA_SITE_KEY"],
      inviteCode: @invite&.code,
      profilePicture: @user&.profile_picture_url,
      name: @user&.display_name || @user&.username,
    },
    prerender: false, html_options: { class: "h-100"})
  %>
</main>
