// dark
$dark-surface-01: #1c1d1f;
$dark-surface-02: #232427;
$dark-surface-hover: #2d2f32;
$dark-surface-hover-02: #3b3c3f;
$dark-surface-disable: #27282b;
$dark-bg-01: #131415;
$dark-text-primary-01: #ffffff;
$dark-text-primary-02: #ccced1;
$dark-text-primary-03: #aaadb3;
$dark-text-primary-04: #71767b;
$dark-text-inverse-01: #1c1d1f;
$dark-text-primary-disable: #56595f;
$dark-primary-tint-02: #eefad5;
$dark-primary-tint-01: #ddf6aa;
$dark-primary: #bbed55;
$dark-primary-shade-01: #4b5f22;
$dark-primary-shade-02: #252f11;
$dark-primary-hover: #d8ff88;
$dark-primary-text: #bbed55;
$dark-secondary-tint-02: #bbabf6;
$dark-secondary-tint-01: #9577ff;
$dark-secondary: #7857ed;
$dark-secondary-shade-01: #282144;
$dark-secondary-shade-02: #181133;
$dark-secondary-text: #9577ff;
$dark-positive-tint-01: #3fe178;
$dark-positive: #1db954;
$dark-positive-shade-01: #062e14;
$dark-warning-tint-01: #fff1d1;
$dark-warning: #ffd166;
$dark-warning-shade-01: #4c3f1f;
$dark-warning-text: #ffda85;
$dark-danger-tint-02: #ffcece;
$dark-danger-tint-01: #ff5555;
$dark-danger: #ff2222;
$dark-danger-shade-01: #480000;
$dark-danger-shade-02: #2b1516;
$dark-danger-disable: #a13b3b;

// light
$light-surface-01: #f5f6f7;
$light-surface-02: #f2f3f5;
$light-surface-hover: #ebedf0;
$light-surface-hover-02: #dadde1;
$light-surface-disable: #f2f3f5;
$light-bg-01: #fafafb;
$light-text-primary-01: #1c2126;
$light-text-primary-02: #37434b;
$light-text-primary-03: #536471;
$light-text-primary-04: #697f8f;
$light-text-inverse-01: #fafafb;
$light-text-primary-disable: #aebbc5;
$light-primary-tint-02: #ececff;
$light-primary-tint-01: #b2b2ff;
$light-primary: #7857ed;
$light-primary-shade-01: #312266;
$light-primary-shade-02: #181133;
$light-primary-text: #6244cc;
$light-primary-hover: #9577ff;
$light-secondary-secundary-tint-02: #eefad5;
$light-secondary-tint-01: #ddf6aa;
$light-secondary: #bbed55;
$light-secondary-shade-01: #83a63b;
$light-secondary-shade-02: #384719;
$light-secondary-text: #bbed55;
$light-positive-tint-02: #edf9f1;
$light-positive-tint-01: #86daa4;
$light-positive: #4ac776;
$light-positive-shade-01: #093719;
$light-positive-text: #3b9f5e;
$light-warning-tint-01: #fff1d1;
$light-warning: #ffd166;
$light-warning-shade-01: #4c3f1f;
$light-warning-text: #b38312;
$light-danger-tint-03: #fff3f3;
$light-danger-tint-02: #ffbfbf;
$light-danger-tint-01: #ff5555;
$light-danger: #ff2222;
$light-danger-shade-01: #910000;
$light-danger-shade-02: #480000;
$light-danger-disable: #fda7a8;

// others
$primary-700: #493399;
$info: #eeeaff;
$black: #000000;
$gray-primary: #9fa3a9;
