<p class="w-full mb-6 primary-3 paragraph"> 
  You have pending subscription requests. 
  People are interested in your journey and want to receive your career updates.
</p>

<% if @pending_subscribers_total_count > 0 %>
  <div class="container mb-5 sub-content">
    <p class="w-full lh-lg text-lg mb-5 sub-title">
      Who wants to be your subscriber:
    </p>
    <% @pending_subscribers.each do |user| %>
      <%= render "shared_mailer/talent", talent: user.talent %>
    <% end %>
  </div>
  <% if @pending_subscribers_total_count > @pending_subscribers.count %>
    <p class="w-full lh-lg text-lg mb-5 sub-title">
      And more...
    </p>
  <% end %>
<% end %>

<%= link_to "Manage your subscribers", connection_url, class: "btn btn-primary fw-800 text-5xl py-4 mb-5 w-full", style: "width: 90%" %>
