@import "../colors";

.talent-button {
  border-radius: 32px;
}

.primary-default-button {
  color: $dark-text-primary-01;
  background-color: $light-primary;
  border: none;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    background-color: $light-primary-hover;
  }

  &:disabled {
    color: $light-text-primary-disable !important;
    background-color: $light-surface-disable !important;
  }

  &:active {
    background-color: $light-primary;
  }
}

.dark-body .primary-default-button {
  color: $dark-bg-01 !important;
  background-color: $dark-primary;

  &:hover {
    background-color: $dark-primary-hover;
  }
}

.dark-body .primary-default-button:disabled {
  color: $dark-text-primary-disable !important;
  background-color: $dark-surface-disable !important;
}

.banners {
  .primary-default-button {
    color: $dark-text-primary-01 !important;
    background-color: $light-primary;
    border: none;
    line-height: 18px;
    font-size: 14px;
    font-weight: bold;

    &:hover {
      background-color: $light-primary-hover;
    }

    &:disabled {
      color: $light-text-primary-disable !important;
      background-color: $light-surface-disable !important;
    }

    &:active {
      background-color: $light-primary;
    }
  }
}

.primary-outline-button {
  color: $light-primary;
  background-color: transparent;
  border: 1px solid $light-primary;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    color: $dark-text-primary-01;
    background-color: $light-primary;
  }

  &:disabled {
    color: $light-text-primary-disable !important;
    background-color: transparent !important;
    border: 1px solid $light-text-primary-disable !important;
  }

  &:active {
    color: $light-primary;
    background-color: transparent;
    border: 1px solid $light-primary;
  }
}

.dark-body .primary-outline-button {
  color: $dark-primary;
  background-color: transparent;
  border: 1px solid $dark-primary;

  &:hover {
    color: $dark-bg-01;
    background-color: $dark-primary;
  }

  &:disabled {
    color: $dark-text-primary-disable !important;
    background-color: transparent !important;
    border: 1px solid $dark-text-primary-disable !important;
  }

  &:active {
    color: $dark-primary;
    background-color: transparent;
  }
}

.primary-ghost-button {
  color: $light-primary;
  background-color: $dark-text-primary-01;
  border: none;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    color: $light-primary;
    background-color: $info;
  }

  &:disabled {
    color: $light-text-primary-disable !important;
  }

  &:active {
    background-color: $dark-text-primary-01;
  }
}

.dark-body .primary-ghost-button {
  color: $dark-primary;
  background-color: $black;

  &:hover {
    background-color: $dark-text-primary-disable;
  }

  &:disabled {
    color: $dark-text-primary-disable !important;
  }

  &:active {
    color: $dark-primary;
    background-color: $dark-surface-disable;
  }
}

.primary-subtle-button {
  color: $light-primary;
  background-color: $info;
  border: none;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    color: $dark-text-primary-01;
    background-color: $light-primary;
  }

  &:disabled {
    color: $light-text-primary-disable !important;
  }

  &:active {
    color: $light-primary;
    background-color: $info;
  }
}

.dark-body .primary-subtle-button {
  color: $dark-primary;
  background-color: $dark-text-primary-disable;

  &:hover {
    color: $dark-text-primary-01;
    background-color: $dark-primary;
  }

  &:disabled {
    color: lighten($dark-primary, 20%) !important;
    background-color: $dark-primary !important;
  }

  &:active {
    color: $dark-primary;
    background-color: $dark-text-primary-disable;
  }
}

.danger-default-button {
  color: $dark-text-primary-01;
  background-color: $dark-danger-tint-01;
  border: none;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    background-color: $dark-danger;
  }

  &:disabled {
    color: $dark-text-primary-01 !important;
    background-color: $light-danger-tint-02 !important;
  }

  &:active {
    background-color: $dark-danger-tint-01;
  }
}

.dark-body .danger-default-button {
  &:hover {
    background-color: $dark-danger;
  }

  &:disabled {
    color: $dark-danger-shade-01 !important;
    background-color: $dark-danger-shade-01 !important;
  }

  &:active {
    background-color: $dark-danger-tint-01;
  }
}

.danger-outline-button {
  color: $dark-danger-tint-01;
  background-color: $dark-text-primary-01;
  border: 1px solid $dark-danger-tint-01;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    color: $dark-text-primary-01;
    background-color: $dark-danger-tint-01;
  }

  &:disabled {
    color: $light-danger-tint-02 !important;
    background-color: $dark-text-primary-01 !important;
  }

  &:active {
    color: $dark-danger-tint-01;
    background-color: $dark-text-primary-01;
  }
}

.dark-body .danger-outline-button {
  color: $dark-danger-tint-01;
  background-color: transparent;
  border: 1px solid $dark-danger-tint-01;

  &:hover {
    color: $dark-text-primary-01;
    background-color: $dark-danger-tint-01;
  }

  &:disabled {
    color: $dark-danger-shade-01 !important;
    background-color: transparent !important;
    border: 1px solid $dark-danger-shade-01 !important;
  }

  &:active {
    color: $dark-danger-tint-01;
    background-color: transparent;
  }
}

.danger-ghost-button {
  color: $dark-danger-tint-01;
  background-color: $dark-text-primary-01;
  border: none;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    background-color: $light-danger-tint-03;
  }

  &:disabled {
    color: $light-danger-tint-02 !important;
    background-color: $dark-text-primary-01 !important;
  }

  &:active {
    background-color: $dark-text-primary-01;
  }
}

.dark-body .danger-ghost-button {
  color: $dark-danger-tint-01;
  background-color: $dark-surface-disable;

  &:hover {
    color: $dark-danger-tint-01;
    background-color: $dark-danger-shade-01;
  }

  &:disabled {
    color: $dark-danger-shade-01 !important;
  }

  &:active {
    color: $dark-danger-tint-01;
    background-color: $dark-surface-disable;
  }
}

.danger-subtle-button {
  color: $dark-danger-tint-01;
  background-color: $light-danger-tint-03;
  border: none;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    background-color: $light-danger-tint-02;
  }

  &:disabled {
    color: $dark-text-primary-01 !important;
    background-color: $light-danger-tint-02 !important;
  }

  &:active {
    background-color: $light-danger-tint-03;
  }
}

.dark-body .danger-subtle-button {
  color: $dark-danger-tint-01;
  background-color: $dark-danger-shade-01;
  border: none;

  &:hover {
    background-color: $dark-danger-shade-01;
  }

  &:disabled {
    color: $dark-danger-shade-01 !important;
    background-color: $dark-danger-shade-01 !important;
  }

  &:active {
    background-color: $dark-danger-shade-01;
  }
}

.positive-default-button {
  color: $dark-text-primary-01;
  background-color: $light-positive;
  border: none;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    background-color: $light-positive-tint-01;
  }

  &:disabled {
    color: $light-text-primary-disable !important;
    background-color: $light-surface-disable !important;
  }

  &:active {
    color: $dark-text-primary-01;
    background-color: $light-positive;
  }
}

.dark-body .positive-default-button {
  background-color: $dark-positive;

  &:hover {
    background-color: $dark-positive-tint-01;
  }

  &:disabled {
    color: $dark-text-primary-disable !important;
    background-color: $dark-surface-disable !important;
  }

  &:active {
    background-color: $dark-positive;
  }
}

.positive-outline-button {
  color: $light-positive;
  background-color: transparent;
  border: 1px solid $light-positive;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    color: $dark-text-primary-01;
    background-color: $light-positive;
  }

  &:disabled {
    color: $light-text-primary-disable !important;
    background-color: transparent !important;
    border: 1px solid $light-text-primary-disable !important;
  }

  &:active {
    color: $light-positive;
    background-color: transparent;
  }
}

.dark-body .positive-outline-button {
  color: $light-positive;
  background-color: transparent;
  border: 1px solid $dark-positive;

  &:hover {
    color: $dark-text-primary-01;
    background-color: $dark-positive;
  }

  &:disabled {
    color: $dark-text-primary-disable !important;
    background-color: transparent !important;
    border: 1px solid $dark-positive-shade-01 !important;
  }

  &:active {
    color: $light-positive;
    background-color: transparent;
  }
}

.positive-ghost-button {
  color: $light-positive;
  background-color: transparent;
  border: none;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    background-color: $light-positive-tint-02;
  }

  &:disabled {
    color: $light-text-primary-disable !important;
    background-color: transparent !important;
  }

  &:active {
    background-color: transparent;
  }
}

.dark-body .positive-ghost-button {
  color: $dark-positive;
  background-color: transparent;

  &:hover {
    color: $dark-positive;
    background-color: $dark-positive-shade-01;
  }

  &:disabled {
    color: $dark-text-primary-disable !important;
    background-color: transparent !important;
  }

  &:active {
    color: $dark-positive;
    background-color: transparent;
  }
}

.positive-subtle-button {
  color: $light-positive;
  background-color: $light-positive-tint-02;
  border: none;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    color: $dark-text-primary-01;
    background-color: $light-positive;
  }

  &:disabled {
    color: $light-text-primary-disable !important;
    background-color: $light-surface-disable !important;
  }

  &:active {
    color: $light-positive;
    background-color: $light-positive-tint-02;
  }
}

.dark-body .positive-subtle-button {
  color: $dark-positive;
  background-color: $dark-positive-shade-01;
  border: none;

  &:hover {
    color: $dark-text-primary-01;
    background-color: $dark-positive;
  }

  &:disabled {
    color: $dark-text-primary-disable !important;
    background-color: $dark-surface-disable !important;
  }

  &:active {
    color: $dark-positive;
    background-color: $dark-positive-shade-01;
  }
}

.white-default-button {
  color: $dark-text-primary-01;
  background-color: $light-text-primary-01;
  border: none;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    background-color: $dark-text-primary-04;
  }

  &:disabled {
    color: $light-text-primary-disable !important;
    background-color: $light-surface-disable !important;
  }

  &:active {
    background-color: $light-text-primary-01;
  }
}

.dark-body .white-default-button {
  color: $dark-surface-disable;
  background-color: $dark-text-primary-01;
  border: none;

  &:hover {
    background-color: $dark-text-primary-02;
  }

  &:disabled {
    color: $dark-surface-disable !important;
    background-color: $dark-surface-disable !important;
  }

  &:active {
    background-color: $dark-text-primary-01;
  }
}

.dark-mode-static-white-default-button {
  color: $dark-surface-disable;
  background-color: $dark-text-primary-01;
  border: none;

  &:hover {
    background-color: $dark-text-primary-02;
  }

  &:disabled {
    color: $dark-surface-disable !important;
    background-color: $dark-surface-disable !important;
  }

  &:active {
    background-color: $dark-text-primary-01;
  }
}

.white-outline-button {
  color: $light-text-primary-01;
  background-color: transparent;
  border: 1px solid $light-text-primary-01;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    color: $dark-text-primary-01;
    background-color: $light-text-primary-01;
  }

  &:disabled {
    color: $light-text-primary-disable !important;
    background-color: transparent !important;
    border: 1px solid $light-text-primary-disable !important;
  }

  &:active {
    color: $light-text-primary-01;
    background-color: transparent;
  }
}

.dark-body .white-outline-button {
  color: $dark-text-primary-01;
  background-color: transparent;
  border: 1px solid $dark-text-primary-01;

  &:hover {
    color: $dark-surface-disable;
    background-color: $dark-text-primary-01;
  }

  &:disabled {
    color: $dark-surface-disable !important;
    background-color: transparent !important;
    border: 1px solid $dark-surface-disable !important;
  }

  &:active {
    color: $dark-text-primary-01;
    background-color: transparent;
  }
}

.white-ghost-button {
  color: $dark-surface-01;
  background: none;
  border: none;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    color: $dark-surface-01;
    background-color: $light-surface-disable;
  }

  &:disabled {
    color: $dark-text-primary-02 !important;
    background: none !important;
  }

  &:active {
    color: $dark-surface-01;
    background-color: none;
  }
}

.dark-body .white-ghost-button {
  color: $dark-text-primary-01;
  border: none;

  &:hover {
    background-color: $dark-surface-disable;
  }

  &:disabled {
    color: $dark-surface-disable !important;
    background: none !important;
  }

  &:active {
    background-color: $dark-surface-01;
  }
}

.white-subtle-button {
  color: $light-text-primary-01;
  background-color: $light-surface-disable;
  border: none;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    background-color: $light-surface-hover-02;
  }

  &:disabled {
    color: $light-text-primary-disable !important;
    background-color: $light-surface-disable !important;
  }

  &:active {
    background-color: $light-text-primary-disable;
  }
}

.dark-body .white-subtle-button {
  color: $dark-text-primary-01;
  background-color: $dark-surface-disable;
  border: none;

  &:hover {
    background-color: $dark-surface-hover-02;
  }

  &:disabled {
    color: $dark-text-primary-disable !important;
    background-color: $dark-surface-disable !important;
  }

  &:active {
    color: $dark-text-primary-01;
    background-color: $dark-surface-disable;
  }
}

.all-journey-button {
  color: $light-text-primary-03;
  background-color: none !important;
  border: 1px solid $light-surface-hover-02;
  line-height: 165%;
  font-size: 14px;
  font-weight: bold;
  border-radius: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  &:hover {
    border: 1px solid transparent !important;
    background-color: $light-surface-hover !important;
  }

  &:active {
    color: $light-text-inverse-01;
    background-color: $light-text-primary-01 !important;
  }

  &.active {
    color: $light-text-inverse-01;
    background-color: $light-text-primary-01 !important;
  }
}

.dark-body .all-journey-button {
  color: $dark-text-primary-03;
  background-color: none !important;
  border: 1px solid $dark-surface-hover-02;

  &:hover {
    background-color: $dark-surface-hover !important;
  }

  &:active {
    color: $dark-bg-01;
    background-color: $dark-text-primary-01 !important;
  }

  &.active {
    color: $dark-bg-01;
    background-color: $dark-text-primary-01 !important;
  }
}

.position-journey-button {
  &:hover {
    color: #328aff;
  }
}

.goal-journey-button {
  &:hover {
    color: $dark-secondary;
  }
}

.education-journey-button {
  &:hover {
    color: $dark-positive;
  }
}

.other-journey-button {
  &:hover {
    color: #fd9a00;
  }
}

.icon-size-button {
  padding: 0px;
  width: 34px;
  height: 34px;
}

.small-icon-size-button {
  padding: 0px;
  width: 16px;
  height: 16px;
}

.big-icon-size-button {
  padding: 0px;
  width: 40px;
  height: 40px;
}

.normal-size-button {
  font-size: 14px;
  line-height: 18px;
  padding: 8px 16px;
}

.big-size-button {
  font-size: 16px;
  line-height: 26.4px;
  padding: 8px 32px;
}

.extra-big-size-button {
  font-size: 16px;
  line-height: 26.4px;
  padding: 12px 32px;
}
