@import "../colors";
@import "../bootstrap/overrides";

.card {
  background-color: $dark-text-primary-01;
  padding: 1.5rem;
  border-radius: 24px;
  border: 0;
  text-decoration: none !important;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);

  &:hover {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  }

  img {
    border-radius: 4px;
  }

  &.mobile {
    background: none;
  }

  &.disabled {
    pointer-events: none;
  }
}

.card-no-hover:hover {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
}

.dark-body .card-no-hover:hover {
  background-color: $dark-surface-01 !important;
}

.dark-body .card {
  background-color: $dark-surface-01;
  box-shadow: none;

  &:hover {
    background-color: $dark-surface-02;
    box-shadow: none;
  }
}

.card-size {
  width: 224px;
  height: 200px;
  object-fit: cover;
}

.card-fixed-width {
  min-width: 272px;
  max-width: 272px;

  &:first-child {
    margin-left: 0px !important;
  }
}

@media (max-width: 992px) {
  .card-fixed-width {
    min-width: 200px;
    max-width: 200px;
  }

  .card-size {
    width: 152px;
    height: 136px;
    object-fit: cover;
  }
}

.card-body {
  padding: 0;
  padding-top: 14px;

  h6 {
    font-weight: 700;
  }

  .title {
    font-weight: 400;
    color: $dark-text-primary-04;

    &.dark {
      color: $dark-text-primary-03;
    }
  }
}

.circ-supply {
  font-weight: 600;
  color: $dark-text-primary-04;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;

  &.dark {
    color: $dark-text-primary-03;
  }
}

.circ-supply-data {
  color: $light-text-primary-01;

  &.dark {
    color: $dark-text-primary-01;
  }
}

.ticker {
  color: $light-primary;
  text-decoration: none;
}

.comingsoon {
  background-color: $light-surface-disable;
  color: $light-primary;
  padding: 5px;
  border-radius: 5px;

  &.dark {
    background-color: $dark-text-primary-disable;
  }
}

.perk-area {
  font-weight: 700;
  color: $dark-text-primary-04;
  margin-bottom: 40px !important;
  font-size: 0.8rem !important;

  &.dark {
    color: $dark-text-primary-04;
  }
}

.tag-available {
  background-color: $light-surface-disable !important;
}

.dark-body .tag-available {
  background-color: $light-primary !important;
}

.tag-available-label {
  color: $light-primary !important;
}

.dark-body .tag-available-label {
  color: $dark-text-primary-01 !important;
}

.tag-unavailable {
  background-color: $light-surface-disable;
}

.dark-body .tag-unavailable {
  background-color: $dark-surface-disable;
}

.tag-unavailable-label {
  color: $light-text-primary-disable !important;
}

.dark-body .tag-unavailable-label {
  color: $dark-text-primary-01 !important;
}

.hold-info {
  font-size: 1rem !important;
  color: $light-primary;

  &.dark {
    color: $dark-primary;
  }
}

.project-tag {
  background-color: $light-surface-disable;
  color: $light-primary;
  padding: 5px !important;
  border-radius: 5px;
  font-size: 0.8rem !important;

  &.dark {
    background-color: $dark-text-primary-disable;
    color: $light-primary-hover;
  }
}

.project-location {
  font-size: 0.8rem !important;
  color: $light-text-primary-disable;

  &.dark {
    color: $dark-text-primary-04;
  }
}

.project-description {
  margin-top: 1rem !important;
  font-size: 0.9rem !important;

  &.dark {
    color: $dark-text-primary-03;
  }
}

.project-image {
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
}

.portfolio-card-title {
  font-weight: 700;
  color: $light-primary;
  margin-bottom: 0.5rem !important;
  font-size: 11px !important;
  line-height: 185% !important;
  font-weight: bold !important;
  letter-spacing: 2px !important;

  &.dark {
    color: $dark-primary;
  }
}

.portfolio-card-line-subtitle {
  margin-top: 1rem !important;
  margin-bottom: 0rem !important;

  &.dark {
    color: $dark-text-primary-01;
  }
}

.portfolio-card-line-description {
  margin-top: 0.25rem !important;
  margin-bottom: 0rem !important;
  color: $dark-text-primary-04;

  &.dark {
    color: $dark-text-primary-03;
  }
}

.token-title {
  margin-top: 1.5rem !important;
  color: $light-text-primary-disable;
  font-weight: normal !important;

  &.dark {
    color: $dark-text-primary-04;
  }
}

.token-item-title {
  font-size: 0.9rem !important;
  color: $dark-text-primary-04;

  &.dark {
    color: $dark-text-primary-03;
  }
}

.bg-coming-soon {
  background: $light-primary;
}

.highlights-card {
  width: 370px;
  border-radius: 24px;
  text-decoration: none !important;
  background-color: $dark-text-primary-01;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);

  &:hover {
    background-color: $dark-text-primary-01;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  }

  &.disabled {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
  }
}

.dark-body .highlights-card {
  background-color: $dark-surface-01;
  box-shadow: none;

  &:hover {
    box-shadow: none;
    background-color: $dark-surface-02;
  }

  &.disabled {
    background-color: $dark-surface-01;
  }
}

.highlights-card-title {
  height: 74px;
  width: 100%;
  border-radius: 24px;
}

.dark-body .highlights-card-title {
  background-color: $dark-surface-02;
  box-shadow: none;
}

.highlights-card-body {
  height: 208px;
  width: 100%;
}

.dark-body .highlights-card-body {
  background-color: $dark-surface-01;
  box-shadow: none;
}

.highlights-card-user {
  height: 43px;
  margin-top: 16px;

  &:first-child {
    margin-top: 0px;
  }
}

.coming-soon-tag {
  height: 24px;
  background-color: $light-primary-tint-02 !important;
  color: $light-primary-text;
}

.dark-body .coming-soon-tag {
  background: $dark-primary-shade-02 !important;
  color: $dark-primary-text;
}

.talent-card {
  background-color: $dark-text-primary-01;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
  border-radius: 24px;

  &:hover {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  }
}

.dark-body .talent-card {
  background-color: $dark-surface-01;
  box-shadow: none;

  &:hover {
    background-color: $dark-surface-02;
    box-shadow: none;
  }
}

.profile-card {
  width: 272px;
  height: 356px;
}

.talent-card-title {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 24px 24px 0px 0px;
}

.dark-body .talent-card-title {
  background-color: $dark-surface-01;
}

.talent-card-footer {
  height: 75px;
  padding: 16px;
  border-radius: 0px 0px 4px 4px;
}

.talent-card-details {
  display: flex;
  flex-direction: column;
  height: 280px;
  padding: 16px;
  border-radius: 24px 24px 0px 0px;
}

.dark-body .talent-card-details {
  background-color: $dark-surface-02;
}

.talent-card-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 248px;
}

.talent-card-occupation {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 248px;
  text-align: center;
}

.talent-card-details-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}

.talent-card-details-headline {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.invite-card {
  background-color: $dark-text-primary-01;
}

.dark-body .invite-card {
  background-color: $dark-surface-01;
}

.marketing-card {
  width: 374px;
  height: 387px;
  padding: 16px;
  border-radius: 24px;
  text-decoration: none !important;
  background-color: $dark-text-primary-01;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);

  &:hover {
    background-color: $dark-text-primary-01;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  }
}

.dark-body .marketing-card {
  background-color: $dark-surface-01;
  box-shadow: none;

  &:hover {
    box-shadow: none;
    background-color: $dark-surface-02;
  }
}

.quest-card-title {
  height: 140px;
}

.quest-card-description {
  height: 361px;
}

.task-card {
  width: 370px;
  height: 315px;
  text-decoration: none !important;
  background-color: $dark-text-primary-01;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
  border-radius: 24px;

  &:hover {
    background-color: $dark-text-primary-01;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  }

  &.disabled {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
  }
}

.dark-body .task-card {
  background-color: $dark-surface-01;
  box-shadow: none;

  &:hover {
    box-shadow: none;
    background-color: $dark-surface-02;
  }

  &.disabled {
    background-color: $dark-surface-01;
  }
}

.whole-ring {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring {
  stroke: $dark-text-primary-04;
  opacity: 0.3;
}

.progress-ring {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

@media (min-width: 1240px) {
  .talents-cards-container {
    :nth-child(4n) {
      padding-right: 0 !important;
    }
  }

  .quest-card {
    &:nth-child(3n) {
      padding-right: 0 !important;
    }
  }
}

@media (max-width: 1239px) {
  .talents-cards-container {
    :nth-child(4n) {
      padding-right: 24px !important;
    }
  }
}

@media (max-width: 992px) {
  .talents-cards-container {
    :nth-child(4n) {
      padding-right: 0px !important;
    }
  }

  .quest-card {
    &:nth-child(3n) {
      padding-right: 0 !important;
    }
  }
}

.nft-image {
  width: 363px;
  height: 363px;
  border-radius: 4px;
}

.nft-card {
  max-width: 371px;
  border-radius: 4px;
  background-color: $dark-text-primary-01;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
}

.dark-body .nft-card {
  background-color: $dark-surface-01;
  box-shadow: none;
}

@media (max-width: 992px) {
  .nft-image {
    width: 350px;
    height: 350px;
  }

  .nft-card {
    max-width: 360px;
  }

  .nfts-wrapper {
    justify-content: center;
  }
}
