@import "../colors";

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;

  &:hover input ~ .checkmark {
    border: 1px solid $light-primary;
  }

  &:hover input:checked ~ .checkmark {
    border: none;
  }

  input {
    display: none;
  }

  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid $light-text-primary-disable;
    border-radius: 4px;

    &:after {
      left: 5px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid $white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  input:disabled {
    ~ .checkmark {
      border: 1px solid $light-surface-disable;
    }

    ~ .label-checkbox {
      color: $light-surface-disable;
    }
  }

  input:checked {
    &:disabled {
      ~ .checkmark {
        border: none;
        background-color: $light-surface-disable;

        &:after {
          left: 5px;
          top: 2px;
          width: 5px;
          height: 10px;
          border: solid $light-text-primary-disable;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }

        &::after {
          display: block;
        }
      }
    }

    ~ .checkmark {
      border: none;
      background-color: $light-primary;

      &::after {
        display: block;
      }
    }
  }
}

.dark-body .container-checkbox {
  .checkmark {
    border: 1px solid $dark-text-primary-disable;

    &:after {
      border: solid $dark-bg-01;
      left: 5px;
      top: 2px;
      width: 5px;
      height: 10px;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &:hover input ~ .checkmark {
    border: 1px solid $dark-primary;
  }

  input:disabled {
    ~ .checkmark {
      border: 1px solid $dark-surface-disable;
    }

    ~ .label-checkbox {
      color: $dark-surface-disable;
    }
  }

  input:checked {
    &:disabled {
      ~ .checkmark {
        background-color: $dark-primary;

        &:after {
          border: solid $dark-surface-disable;
        }
      }
    }

    ~ .checkmark {
      background-color: $dark-primary;
      border: 1px solid $dark-primary;
    }
  }
}

.label-checkbox {
  font-weight: normal;
  line-height: 165%;
  font-size: 14px !important;
  letter-spacing: 1px;
  margin-left: 8px !important;
}
