.dropdown-menu {
  background-color: $dark-text-primary-01 !important;
  color: $black !important;
  min-width: 230px;
  padding: 8px 8px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  border: none;
}

.dark-body .dropdown-menu {
  color: $dark-text-primary-01 !important;
  background-color: $dark-surface-disable !important;
  box-shadow: none;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-toggle.no-caret:after {
  display: none;
}

.dropdown-item {
  padding: 8px 32px 8px 8px;
  border-radius: 24px;

  &:hover {
    background-color: $light-surface-disable !important;
  }
}

.dark-body .dropdown-item {
  &:hover {
    background-color: $dark-surface-hover-02 !important;
  }
}

.menu-divider {
  border-top: 1px solid $light-surface-disable;
}

.dark-body .menu-divider {
  border-top: 1px solid $dark-surface-hover-02;
}

.modal-content,
.modal-dialog {
  background-color: $dark-text-primary-01;
}

.dark-body .modal-dialog {
  background-color: $dark-surface-01;
}

.dark-body .modal-content {
  background-color: $dark-surface-01;
}

.user-menu-dropdown {
  background-color: $dark-text-primary-01 !important;
  color: $black !important;
  min-width: 240px;
  padding: 8px 8px 8px 8px;
}

.dark-body .user-menu-dropdown {
  color: $dark-text-primary-01 !important;
  background-color: $dark-surface-disable !important;
}

.user-menu-dropdown-item {
  padding: 8px 8px;
  margin: 0 0;
  &:hover {
    background-color: $light-surface-disable !important;
  }
}

.dark-body .user-menu-dropdown-item {
  &:hover {
    background-color: $dark-surface-hover-02 !important;
  }
}

.claim-rewards-dropdown-btn {
  background-color: $light-surface-disable !important;
  color: $black !important;
  border: 1px solid rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;

  &:hover {
    border: 1px solid $light-primary !important;
    box-shadow: 0px 0px 0px 3px $light-surface-disable !important;
  }

  &:active {
    border: 0px solid $light-primary;
  }

  &[aria-expanded="true"] {
    border: 1px solid $light-primary !important;
    box-shadow: 0px 0px 0px 3px $light-surface-disable !important;
  }
}

.dark-body .claim-rewards-dropdown-btn {
  color: $dark-text-primary-01 !important;
  background-color: $dark-surface-disable !important;

  &:hover {
    background-color: $dark-surface-hover-02 !important;
    box-shadow: 0px 0px 0px 3px $dark-text-primary-disable !important;
  }

  &[aria-expanded="true"] {
    background-color: $dark-surface-hover-02 !important;
    box-shadow: 0px 0px 0px 3px $dark-text-primary-disable !important;
  }
}

.dropdown-item {
  .icon-dropdown-item {
    color: $dark-text-primary-04;
  }

  &:hover {
    .icon-dropdown-item {
      color: $light-primary;
    }
  }
}

.dark-body .dropdown-item {
  .icon-dropdown-item {
    color: $dark-text-primary-03;
  }

  &:hover {
    .icon-dropdown-item {
      color: $dark-primary;
    }
  }
}
