@import "../colors";
@import "../bootstrap/overrides";

.title-field {
  font-weight: 700;
  font-size: 0.9rem;
}

.dark-body .title-field {
  color: $dark-text-primary-01;
}

.short-caption {
  margin-top: 0.6rem;
  margin-bottom: 0;
  font-size: 0.8rem !important;
  color: $light-text-primary-disable;
  font-weight: 400;
}

.dark-body .short-caption {
  color: $dark-text-primary-04;
}

.form-control {
  background: none !important;
  color: $light-text-primary-01;
  border: 1px solid $light-surface-hover-02;
  height: 34px;
  border-radius: 8px;

  &:hover {
    border: 1px solid $light-primary;
    box-sizing: border-box;
  }

  &:active {
    border: 1px solid $light-primary;
  }

  &:focus {
    border: 1px solid $light-primary;
    box-shadow: 0px 0px 0px 3px $info;
  }

  &:disabled {
    color: $light-text-primary-disable;
    border: 1px solid $light-surface-disable;
    color: $light-text-primary-01;
  }
}

.dark-body .form-control {
  background: none !important;
  color: $dark-text-primary-01;
  border: 1px solid $dark-surface-hover-02 !important;

  ::placeholder {
    color: $dark-text-primary-04 !important;
  }

  &:hover {
    border: 1px solid $dark-primary !important;
    box-sizing: border-box;
    border-radius: 8px;
  }

  &:focus {
    border: 1px solid $dark-primary !important;
    box-shadow: 0px 0px 0px 3px $dark-primary-shade-02 !important;
  }

  &:disabled {
    color: $light-text-primary-disable;
    background: $dark-surface-disable !important;
    border: 1px solid $dark-surface-disable !important;
    color: $dark-surface-disable;
  }
}

::placeholder {
  color: $light-text-primary-disable !important;
  font-size: 0.9rem;
}

.tag-input {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  max-width: 100%;
  margin: 0;

  input {
    background-color: inherit;
    color: inherit;
    border: none;
    width: 100%;
    outline: none;
    min-width: 100px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .optional-tag-container {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.tag-input-caption {
  color: $light-text-primary-disable;
}

.dark-body .tag-input-caption {
  color: $dark-text-primary-04;
}

::placeholder {
  color: $dark-text-primary-04 !important;
  font-size: 0.9rem;
}

.select {
  &__control {
    color: $light-text-primary-01 !important;
    border: 1px solid $light-surface-hover-02 !important;
    box-shadow: none !important;
    border-radius: 8px !important;

    &:hover {
      border: 1px solid $light-primary-hover !important;
      box-sizing: border-box !important;
    }

    &:active {
      background-color: $light-surface-disable !important;
    }

    &:focus {
      background-color: $light-bg-01 !important;
      border: 1px solid $light-primary !important;
      box-shadow: 0px 0px 0px 3px $info !important;
    }

    &:disabled {
      color: $light-text-primary-disable !important;
      background: $light-surface-disable !important;
      border: 1px solid $light-surface-disable !important;
      color: $light-text-primary-01 !important;
    }

    &.select__control--is-focused {
      background-color: $light-bg-01 !important;
      border: 1px solid $light-primary !important;
      box-shadow: 0px 0px 0px 3px $info !important;
    }
  }

  &__menu {
    background-color: $dark-text-primary-01 !important;
    color: $black !important;
    padding: 8px 8px !important;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
    border: none !important;
  }

  &__option {
    padding: 8px 32px 8px 8px !important;
    border-radius: 4px !important;
    background-color: inherit !important;

    &:hover {
      background-color: $light-surface-disable !important;
    }

    &.select__option--is-focused {
      background-color: $light-surface-disable !important;
    }
  }

  &__input-container {
    color: $light-text-primary-01 !important;
  }

  &__indicator {
    color: $light-text-primary-disable !important;

    &:hover {
      color: $light-text-primary-01 !important;
      cursor: pointer !important;
    }
  }

  &__multi-value {
    background-color: inherit !important;
    border: 1px solid $light-surface-hover-02;
    border-radius: 4px !important;

    &:hover {
      background-color: $light-surface-hover !important;
    }

    .select__multi-value__label {
      color: $light-text-primary-01 !important;
    }

    .select__multi-value__remove {
      background-color: inherit !important;
      color: $light-text-primary-04 !important;
      border-radius: 0 4px 4px 0 !important;

      &:hover {
        color: $light-text-primary-01 !important;
      }
    }
  }
}

.dark-body .select {
  &__control {
    background: inherit !important;
    color: $dark-text-primary-01 !important;
    border: 1px solid $dark-surface-disable !important;
    border-radius: 8px !important;

    ::placeholder {
      color: $dark-text-primary-04 !important;
    }

    &:hover {
      background: $dark-surface-disable !important;
      border: 1px solid $dark-primary !important;
      box-sizing: border-box !important;
    }

    &:active {
      background: $dark-surface-disable !important;
    }

    &:focus {
      background: $dark-surface-disable !important;
      border: 1px solid $dark-primary !important;
      box-shadow: 0px 0px 0px 3px $dark-primary-shade-02 !important;
    }

    &:disabled {
      color: $light-text-primary-disable !important;
      background: $dark-surface-disable !important;
      border: 1px solid $dark-surface-disable !important;
      color: $dark-surface-disable !important;
    }

    &.select__control--is-focused {
      background: $dark-surface-disable !important;
      border: 1px solid $dark-primary !important;
      box-shadow: 0px 0px 0px 3px $dark-primary-shade-02 !important;
    }
  }

  &__menu {
    color: $dark-text-primary-01 !important;
    background-color: $dark-surface-disable !important;
    box-shadow: none !important;
  }

  &__option {
    &:hover {
      background-color: $dark-surface-hover-02 !important;
    }

    &.select__option--is-focused {
      background-color: $dark-surface-hover-02 !important;
    }
  }

  &__input-container {
    color: $dark-text-primary-01 !important;
  }

  &__indicator {
    color: $dark-text-primary-02 !important;

    &:hover {
      color: $dark-text-primary-01 !important;
    }
  }

  &__multi-value {
    background-color: inherit !important;
    border: 1px solid $dark-surface-hover-02;

    &:hover {
      background-color: $dark-surface-hover !important;
    }

    .select__multi-value__label {
      color: $dark-text-primary-01 !important;
    }

    .select__multi-value__remove {
      color: $dark-text-primary-02 !important;

      &:hover {
        color: $dark-text-primary-01 !important;
      }
    }
  }
}
