.link-container {
  cursor: pointer;
  text-decoration: none !important;

  &.disabled {
    pointer-events: none;
    cursor: default;
  }

  &.primary {
    > * {
      color: $light-primary !important;
    }

    &:hover {
      > * {
        color: $light-primary-hover !important;
      }
    }

    &.disabled {
      > * {
        color: $light-text-primary-disable !important;
      }
    }
  }

  &.white {
    > * {
      color: $light-text-primary-01 !important;
    }

    &:hover {
      > * {
        color: $dark-text-primary-04 !important;
      }
    }

    &.disabled {
      > * {
        color: $light-text-primary-disable !important;
      }
    }
  }
}

.dark-body .link-container {
  &.primary {
    > * {
      color: $dark-primary !important;
    }

    &:hover {
      > * {
        color: $dark-primary-hover !important;
      }
    }

    &.disabled {
      > * {
        color: $dark-text-primary-disable !important;
      }
    }
  }

  &.white {
    > * {
      color: $dark-text-primary-01 !important;
    }

    &:hover {
      > * {
        color: $dark-text-primary-03 !important;
      }
    }

    &.disabled {
      > * {
        color: $dark-surface-disable !important;
      }
    }
  }
}

.paragraph-link {
  color: $light-text-primary-01 !important;
  text-decoration: underline !important;

  &:hover {
    color: $light-text-primary-03 !important;
  }

  &.disabled {
    color: $light-text-primary-disable !important;
  }
}

.dark-body .paragraph-link {
  color: $dark-text-primary-01 !important;

  &:hover {
    color: $dark-text-primary-03 !important;
  }

  &.disabled {
    color: $dark-text-primary-disable !important;
  }
}
