@import "../colors";
@import "../bootstrap/overrides";

.modal-dialog {
  background-color: $light-bg-01;
  border: 0;
}

.dark-body .modal-dialog {
  background-color: $dark-surface-01;
}

.modal-content {
  background-color: $light-bg-01;
  border: 0;
  border-radius: 24px;
}

.dark-body .modal-content {
  background-color: $dark-surface-01;
}

.modal-header {
  border: 0;
}

.modal-header .close {
  color: $dark-text-primary-04;
  font-weight: 200;
  font-size: 1.5rem;
  text-shadow: none;
}

.dark-body .modal-header .close {
  color: $dark-text-primary-03;
}

.modal-body span {
  padding-top: 10px;
  font-size: 0.9rem;
  color: $light-text-primary-02;
}

.dark-body .modal-body span {
  color: $dark-text-primary-02;
}

.modal-body p {
  font-size: 0.9rem;
  color: $light-text-primary-02;
}

.dark-body .modal-body p {
  color: $dark-text-primary-02;
}

.modal-body h5 {
  font-weight: 700;
  font-size: 0.9rem;
  color: $light-text-primary-01;
}

.dark-body .modal-body h5 {
  color: White;
}

.modal-body .availableAmount {
  font-weight: 700;
  font-size: 0.7rem;
  color: $light-text-primary-disable;
}

.dark-body .modal-body .availableAmount {
  color: $dark-text-primary-04;
}

.modal-body .short-description {
  font-weight: 400;
  font-size: 0.75rem;
  color: $light-text-primary-02;
}

.modal-body .form-check {
  margin-top: 1.5rem;

  label {
    font-weight: 400;
    font-size: 1rem;
    color: $light-text-primary-01;
  }

  a {
    text-decoration: underline;
  }
}

.dark-body .modal-body .form-check label {
  color: $dark-text-primary-01;
}

.button-confirm {
  margin-top: 1.5rem;
}

.rewards-modal {
  width: 441px;
  height: 633px;
}
