@import "../bootstrap/overrides";

.edit-link {
  position: relative;
  left: 30vw;
  bottom: 5px;
}

.modal-border {
  border-bottom: 1px solid $light-surface-hover-02;
}

.network-button {
  border: 1px solid $light-surface-hover-02;
  border-radius: 24px;
  width: 100%;
  height: 100px;
  padding: 24px;

  font-size: 16px;
}

.web3-card {
  min-width: 290px;
  height: 490px;

  &__full_height {
    height: 100%;
  }

  .nft-img {
    width: 100%;
    height: 290px;

    &.poap-img {
      height: 55%;
    }
  }

  .image-placeholder {
    width: 100%;
    min-height: 304px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.token-img {
  width: 48px;
}

.perk-card {
  .header {
    height: 250px;
    width: 100%;
    border-radius: 16px;
    background-color: $light-primary;
  }

  .footer {
    height: 150px;
    width: 100%;
  }

  .edit-perk-button {
    display: none;
  }

  &:hover {
    .edit-perk-button {
      display: flex;
    }
  }
}

.banner-profile {
  height: 328px;
  width: 418px;
  border-radius: 24px;
}

.journey-dashed-border {
  width: 34px;
  height: 34px;
  border: 1px dashed $light-surface-hover-02;
  border-radius: 50%;
  text-align: center;
}

.dark-body .journey-dashed-border {
  border: 1px dashed $dark-surface-hover-02;
}

.journey-border {
  width: 34px;
  height: 34px;
  border: 1px solid $light-surface-hover-02;
  border-radius: 50%;
  text-align: center;
}

.dark-body .journey-border {
  border: 1px solid $dark-surface-hover-02;
}

.light-body .connection {
  background-color: transparent;
  border: 1px solid $light-surface-hover-02;
  color: $light-text-primary-01;

  &__super_connection {
    background-color: $light-primary;
    border: 1px solid $light-primary;

    p {
      color: $light-bg-01;
    }
  }

  &__supporter {
    p {
      color: $light-primary;
    }
  }
}

.dark-body .connection {
  background-color: transparent;
  color: $dark-text-primary-01;
  border: 1px solid $dark-surface-hover-02;

  &__super_connection {
    background-color: $dark-primary;
    border: 1px solid $dark-primary;

    p {
      color: $dark-bg-01;
    }
  }

  &__supporter {
    p {
      color: $dark-primary;
    }
  }
}

.token-section {
  background-color: $dark-blue;
  border-radius: 24px;
}

.dark-body .token-section {
  background-color: $light-bg-01;
}

.inverted-button {
  background-color: $white;

  &:hover {
    background-color: $dark-text-primary-02;
  }

  p {
    color: $dark-text-inverse-01;
  }
}

.dark-body .inverted-button {
  background-color: $dark-bg-01;

  &:hover {
    background-color: $light-text-primary-01;
  }
  p {
    color: $white;
  }
}

.launch-token-section {
  border-radius: 24px;
  background-color: $light-primary;
}

.highlight-word {
  color: $light-secondary-text;
}

.apply-to-launch-token-section {
  border-radius: 24px;
  background-color: $dark-blue;
}

.dark-body .apply-to-launch-token-section {
  background-color: $white;
}

.edit-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $dark-blue;
  opacity: 0.7;
}
