.tal-th {
  font-weight: lighter !important;
}

.tal-tr-item {
  background-color: white;
}

.tal-table-price {
  line-height: 1;
}

.talent-table {
  display: table;
  width: 100%;
  color: $light-text-primary-01;

  thead tr {
    border-bottom: 1px solid $light-surface-disable;
  }

  tbody tr {
    border-bottom: 1px solid $light-surface-disable;

    &:hover {
      background-color: $light-surface-disable;
      cursor: pointer;
    }
  }

  td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  th {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.dark-body .talent-table {
  color: $dark-text-primary-01;

  thead tr {
    border-bottom: 1px solid $dark-surface-disable;
  }

  tbody tr {
    border-bottom: 1px solid $dark-surface-disable;

    &:hover {
      background-color: $dark-surface-01;
      cursor: pointer;
    }
  }
}

.wallet-id-text {
  color: $light-text-primary-disable;
}

.progress {
  background-color: $light-surface-disable;

  .bg-secondary {
    background-color: $light-text-primary-disable !important;
  }
}

.dark-body .progress {
  background-color: $dark-surface-disable;

  .bg-secondary {
    background-color: $dark-text-primary-04 !important;
  }
}

// TODO need to find a more suitable place for these
.star {
  stroke: none;
  fill: $light-warning;
}

.star-outline {
  stroke: $light-text-primary-disable;
}

.table-options-dropdown {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.modal.show .table-options-dropdown {
  transition: none;
  animation: animateBottomToTop 0.4s;
}

@keyframes animateBottomToTop {
  from {
    bottom: -200px;
  }
  to {
    bottom: 0px;
  }
}
