.tab-container {
  text-decoration: none !important;

  &.primary {
    color: $light-primary;
  }

  &.white {
    color: $dark-text-primary-04;

    &.active {
      color: $light-text-primary-01;
    }
  }

  &:hover {
    &.primary {
      color: $light-primary-hover;
    }

    &.white {
      color: $light-text-primary-01;
    }
  }

  &:disabled {
    &.primary {
      color: $light-text-primary-disable;
    }

    &.white {
      color: $light-text-primary-disable;
    }
  }
}

.dark-body .tab-container {
  &.primary {
    color: $dark-primary;
  }

  &.white {
    color: $dark-text-primary-03;

    &.active {
      color: $dark-text-primary-01;
    }
  }

  &:hover {
    &.primary {
      color: $light-primary-hover;
    }

    &.white {
      color: $dark-text-primary-01;
    }
  }

  &:disabled {
    &.primary {
      color: $dark-text-primary-disable;
    }

    &.white {
      color: $dark-surface-disable;
    }
  }
}

.tab-button-container {
  background-color: $light-surface-disable;
  border-radius: 24px;

  .active {
    background-color: $light-primary !important;
    border-radius: 24px;

    .tab-text {
      color: $dark-text-primary-01;

      &:hover {
        color: $dark-text-primary-01;
      }
    }
  }

  .tab-text {
    color: $dark-text-primary-04;

    &:hover {
      color: $light-text-primary-01;
    }
  }
}

.dark-body .tab-button-container {
  background-color: $dark-surface-hover;

  .active {
    background-color: $dark-primary !important;

    .tab-text {
      color: $dark-bg-01;

      &:hover {
        color: $dark-bg-01;
      }
    }
  }

  .tab-text {
    color: $dark-text-primary-03;

    &:hover {
      color: $dark-text-primary-01;
    }
  }
}
