@import "../bootstrap/overrides";

// Talent card


.blur-photo {
  filter: blur(128px);
  opacity: 40%;
}

.border-photo {
  border: 8px solid $light-bg-01;
}

.dark-body .border-photo {
  border: 8px solid $dark-bg-01;
}

.text-white-space-wrap {
  white-space: pre-wrap;
}

.talent-table-tabs {
  border-bottom: 1px solid $light-surface-disable;
}

.dark-body .talent-table-tabs {
  border-bottom: 1px solid $dark-surface-disable;
}

.uppy-Root {
  position: inherit;
  margin-bottom: 0;
}

.edit-profile-content {
  max-width: 615px;
}

.dark-body .uppy-FileInput-input {
  color: $dark-text-primary-01;
}

.light-body .uppy-FileInput-input {
  color: $black;
}

.uppy-FileInput-btn {
  background-color: $light-primary;
  color: $dark-text-primary-01;
  border: 1px solid $light-primary;
  border-radius: 24px;
  font-weight: 700;
  &:hover {
    background: rgba($light-primary, 0.8);
  }
  padding: 8px 16px;
}

.dark-body .uppy-FileInput-btn {
  color: $dark-bg-01;
  background-color: $dark-primary !important;
  border: 1px solid $dark-primary;

  &:hover {
    background-color: $dark-primary-hover !important;
  }
}

@media (max-width: 992px) {
  .edit-profile-content {
    padding-left: 24px;
    padding-right: 16px;
  }
}

.rocket-position-absolute {
  position: absolute;
  top: -4px;
  left: -16px;
  background-color: $light-bg-01;
}

.dark-body .rocket-position-absolute {
  background-color: $dark-bg-01;
}
