<main class="main-content">
<div class="container-grid">
  <h1>Support Tool</h1>
  <div class="secondary-content">
    <%= react_component("Support",
      props: {
        user: @user
      },
      prerender: false) %>
  </div>
</div>
</main>
