<%= render "shared_mailer/user", user: @sender %>
<p class="w-full mb-3 primary-3 paragraph">
  Congrats, your sponsorship was accepted!
</p>
<p class="w-full mb-3 primary-3 paragraph">
  <%= @sender.username %> accepted your sponsorship request on Talent Protocol.
</p>
<p class="w-full mb-3 primary-3 paragraph">
  You are now officially sponsoring their journey, supporting their growth, and helping them unlock new opportunities.
</p>
<p class="w-full mb-6 primary-3 paragraph">
  Thank you for being an active participant in the Talent Protocol community. Your support makes a significant impact on the lives and careers of talented individuals like <%= @sender.username %>.
</p>
<%= link_to "Check #{@sender.username}'s profile", user_url(username: @sender.username), class: "btn btn-primary fw-800 text-5xl py-4 mb-5 w-full", style: "width: 90%" %>
