<% if current_acting_user.nil? %>
  <%= react_component("LoggedOutTopBar", props:
    {
    }, prerender: false)
  %>
<% end %>

<main class="main-content">
  <div class="container-grid">
    <div class="secondary-content">
      <%= react_component "ExploreCollectivesPage", prerender: false %>
    </div>
  </div>
</main>
