<% if @organization.present? %>
  <% content_for :meta_title, "#{@organization["name"]} | #{DEFAULT_META["meta_product_name"]}" %>
  <% if @organization["description"].present? %>
    <% content_for :meta_description, @organization["description"] %>
  <% end %>
  <% if @organization["logo_url"].present? %>
    <% content_for :meta_image, @organization["logo_url"] %>
    <% content_for :meta_card_type, "summary" %>
  <% end %>
<% end %>

<% if current_acting_user.nil? %>
  <%= react_component("LoggedOutTopBar", props:
    {
    }, prerender: false)
  %>
<% end %>

<main class="main-content">
  <div class="container-grid">
    <%= react_component "CollectiveShowPage", props: { organization: @organization }, prerender: false %>
  </div>
</main>
